:root {
    --body-black-bg-color: #000000;
    --menu-bg-color: #0a0a0a;
    --title-text-color: #ffffff;
    --body-text-color: #33ff00;
    --bg-cards: #000000;
    --green-border-cards-icons: #33ff00;
    --white-border-cards-icons: #FFFFFF.;
  }

  body{
      background: var(--body-black-bg-color);
  }
  .logo{
      margin-bottom: 50px;
      margin-top: 110px;
  }

  .content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin-bottom: 16px;
  }

.box-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--green-border-cards-icons);
    border-radius: 27.75px;
    margin: 60px auto;
    max-width: 600px;
}

.input{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
  
}

.email input{
    background: black;
    border-radius: 18.03px;
    border: 2px solid #ffffff;
    padding: 5px;  
    width:300px;
    height: 40px;
}

.password input{
    background: black;
    border-radius: 18.03px;
    border: 2px solid #ffffff;
    padding: 5px;
    width:300px;
    height: 40px;
}

.button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
    
}

.button button {
    border-radius: 14px;
    border: 2px solid #33ff00 ;
    background: black;
    font-family: 'Source Code Pro', monospace;
    padding: 5px;
    width: 100%;
    color: var(--title-text-color);
    width:300px;
    height: 40px;

}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

h1, p, a{
    font-family: 'Source Code Pro', monospace;
    color: var(--title-text-color);
}

.remember{
    margin-bottom: 100px;
}

.hightlight{
    color: var(--body-text-color);
}

a{
    text-decoration: none;
    color: var(--title-text-color);
}

::placeholder{
    padding: 50px;
}

