body > div.line {
  background: radial-gradient(
      100% 806403.83% at 100% 0%,
      #000000 11.33%,
      #33ff00 48.95%,
      #000000 87.55%
    ),
    rgba(51, 255, 0, 0.8);
  opacity: 0.8;
  height: 10px;
  width: 100%;
}

footer {
  margin-top: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

footer .logo {
  width: 320px;
  height: 52px;
}

footer .logo svg {
  width: 320px;
  height: 52px;
}

footer .logo img {
  width: 100%;
}

footer .socialMedia {
  margin-top: 55px;
  width: 320px;
  display: flex;
  justify-content: space-around;
  font-size: 56px;
}

footer .socialMedia .item:nth-child(2n) i {
  color: var(--body-text-color);
}

footer .description {
  margin-top: 88px;
  margin-bottom: 56px;

  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 46px;
  color: var(--title-text-color);
}

footer .goTop {
  position: absolute;
  bottom: 40%;
  right: 40px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  cursor: pointer;
}

footer .goTop .fa-chevron-up {
  font-size: 2rem;
  color: #33ff00;
}
