@media (max-width: 980px) {
  .text h1 {
    font-weight: 900;
    font-size: 2rem;
    line-height: 40px;
  }

  .text p {
    font-size: 1rem;
    line-height: 1rem;
  }

  .title {
    font-size: 2rem;
    line-height: 25px;
  }
  main section {
    margin-top: 50px;
  }

  main {
    padding: 0 30px;
    overflow: hidden;
  }

  .cardContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  #About .content {
    display: block;
    align-items: center;
    flex-wrap: wrap;
  }

  .lineBG {
    transform: translate(10%, -20%);
  }

  .lineBG,
  .textItem,
  #About .text {
    width: 100%;
    height: 170px;
  }
  .preFooter {
    margin-top: 2rem;
    overflow: hidden;
  }

  .preFooter .title {
    font-size: 2rem;
    line-height: 2rem;
  }

  .preFooter .description {
    font-size: 1rem;
    line-height: 1rem;
  }

  footer .logo {
    width: 320px;
    height: 52px;
  }

  footer .socialMedia {
    width: 200px;
    font-size: 2rem;
  }

  footer .description {
    font-size: 1rem;
    line-height: 1rem;
  }
}
