.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--menu-bg-color);
  min-height: 50px;
  padding: 20px 40px;
}

body {
  background-color: var(--body-black-bg-color);
}

.links {
  display: flex;
  align-items: center;
  gap: 55px;
}

.links a {
  color: var(--title-text-color);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.links a:active,
.links a:focus,
.links a:hover {
  color: var(--body-text-color);
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
}
