.mainContent {
  display: flex;
  align-items: center;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.imageContainer img {
  width: 100%;
}

.title {
  font-weight: bold;
  color: var(--title-text-color);
}

.title .highlight {
  color: var(--body-text-color);
}